<!DOCTYPE>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Livres disponibles</title>
</head>
<body>
    <h1>Liste des livres disponibles</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Nombre d'exemplaire</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
